@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-1 {
    @apply px-4 py-2 bg-orange-400 text-white rounded-xl w-20;
}

.custom-bg-img {
    position: relative;
    width: 30rem;
}
.custom-bg-img::before {
    content: "";
    background-image: url('https://cdn.cdnstep.com/jKFaotKYWAi7PMg1OHGk/cover-1.thumb256.png');
    opacity: 0.2; /* 半透明 */
    pointer-events: none;
    z-index: 1;
    @apply bg-no-repeat bg-center bg-contain absolute inset-0;
}
.custom-bg-img > * {
    position: relative;
    z-index: 2;
}

@media (max-width: 639px) {
    .custom-bg-img {
        width: auto;
    }
}